body{
    margin: 0px;
    padding: 0px;
    width: 1140px;
    font-family: radiance,Georgia,bitstream charter,serif;   
}

.gallery{
    float: none;
    color: white;
    display: inline-block;
    text-align: initial;
}

.foot{
    padding-top: 5px ;
    color:white;
}

.creator{
    float:right;
}

.foot_contact{
    float: left;
}