body{
    margin: 0px;
    padding: 0px;
    font-family: radiance,Georgia,bitstream charter,serif;
    background-image: url(https://wallpaperaccess.com/full/7448.png);
    background-size: 1140px;
    background-repeat: no-repeat;
    width: 1140px;
}

.welcome{
    text-align: center;
    color: white;
    background-color: #212529;
}

.text{
    color:white;
}

.foot{
    padding-top: 380px;
    color:white;
}

.creator{
    float:right;
}

.foot_contact{
    float: left;
}